<header class="main-header">
    <h1 class="main-header__title">
        <span class="main-header__title--blue">Robson</span><span class="main-header__title--orange">Conceicao</span>
    </h1>

    <div class="container-menu">
    <nav class="main-header__menu">
        <ul class="main-header__menu ul">
            <li><a href="">Home</a></li>
            <li><a href="" routerLink="carrinho">
                <i class="fa-solid fa-cart-shopping"></i>
                Carrinho
                <span class="badge-carrinho"> {{servicoCarrinho.ObtemCarrinho().length}}</span>
            </a>
            </li>
            <li><a href="">Contato</a></li>
            <li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
            <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
            <li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
            <li><a href=""><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>

    </nav>

    <form action="" class="search-form">
        <input type="text" class="search-form input">
        <button class="search-form button">        <i class="fa-solid fa-magnifying-glass"></i>   </button>
    </form>

</div>
</header>