<footer class="footer">

    <div class="footer_container">
        <section>
            <h2 class="footer_title">Sobre</h2>
            <p class="footer__about-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis excepturi facere temporibus, libero dolores, sed repellendus voluptate nesciunt incidunt placeat dolorum praesentium impedit at saepe blanditiis illum est ad eveniet?</p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul >
                <li><i class="fa-solid fa-envelope"> </i> email@email.com.br</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>

        <img src="./assets/IMG_1041.JPG" height="280px">
    </div>

    <section class="footer__copyright">
        &copy;Todos direitos reservados.
    </section>

</footer>