<h2 class="contact__title">Entre em Contato</h2>

<section class="contact__container">
    
<form action="" class="contact-form">
<input type="text" placeholder="Digite seu nome: ">
<input type="Assunto:" placeholder=" Digite o assunto:">
<input type="tel" placeholder="00-00000-0000">
<input type="email" placeholder="Digite seu email:">
<textarea maxlength="500"></textarea>
<button>Enviar</button>


</form>


<address>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3654.5067680414427!2d-46.70781348446474!3d-23.657828684635113!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50526d49003b%3A0x8e91fef370e665b9!2sAssembleia%20de%20Deus%20Min.%20Do%20Bel%C3%A9m%20-%20Setor%2006%20Indian%C3%B3polis!5e0!3m2!1spt-BR!2sbr!4v1679342363286!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>  
<p class="endereco">R. Maria Almeida do Prado, 51 - Santo Amaro, São Paulo - SP, 04745-020</p>

</address>

</section>
