.container {

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 400px;
    color: red;
}

.container i {

    font-size: 44px;
    color: black;
}

.container h2 {

    font-size: 44px;
}